---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Maßgeschneidertes Webdesign für kleine Firmen und Gründer',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Note Widget ******************* -->

  <!-- <Note /> -->
  <!-- Hero Widget ******************* -->
  <!-- <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Kontakt',

        href: 'mailto:kontakt@doonske.de',
        icon: 'tabler:mail',
      },
      {
        text: 'Mehr erfahren',
        href: '/about',
        icon: 'tabler:square-rounded-arrow-right',
      },
    ]}
    image={{ src: '~/assets/images/developer-guy.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">Maßgeschneidertes Webdesign für kleine Firmen und Gründer</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Von der Neuentwicklung über den Relaunch bis zur laufenden Betreuung:</span>
        Verlässliche Weblösungen für einen professionellen Auftritt, der perfekt zu Ihrem Business passt.
      </span>
    </Fragment>
  </Hero> -->

  <Hero2
    tagline="Ich biete an"
    actions={[
      {
        variant: 'primary',
        text: 'Kontakt',

        href: 'mailto:kontakt@doonske.de',
        icon: 'tabler:mail',
      },
      {
        text: 'Mehr erfahren',
        href: '/about',
        icon: 'tabler:square-rounded-arrow-right',
      },
    ]}
    image={{
      src: '~/assets/images/developer-guy.png',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Webdesign</span> für kleine Firmen und Gründer <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Von der Neuentwicklung über den Relaunch bis zur laufenden Betreuung:</span>
        Verlässliche Weblösungen für einen professionellen Auftritt, der perfekt zu Ihrem Business passt.
      </span>
    </Fragment>
  </Hero2>
  <!-- Steps Widget ****************** -->

  <Steps
    title="In 3 Schritten zur individuellen Webseite – schnell und unkompliziert."
    items={[
      {
        title: 'Schritt 1: <span class="font-medium">Kontaktaufnahme & Erstgespräch</span>',
        description:
          'Gemeinsam klären wir Ihre Anforderungen und Wünsche. In einem unverbindlichen Erstgespräch erarbeiten wir die Grundlagen für Ihre neue Webseite oder die Optimierung Ihrer bestehenden Seite.',
        icon: 'tabler:number-1',
      },
      {
        title: 'Schritt 2: <span class="font-medium">Entwicklung oder Anpassung</span>',
        description:
          'Auf Basis des Erstgesprächs beginnt die Entwicklungsphase. Ob Neuentwicklung oder Relaunch – Ihre Webseite wird individuell gestaltet und optimal auf Ihre Bedürfnisse abgestimmt.',
        icon: 'tabler:number-2',
      },
      {
        title: 'Schritt 3: <span class="font-medium">Go-Live & Betreuung</span>',
        description:
          'Nach finaler Abstimmung geht Ihre Webseite online! Auf Wunsch übernehme ich auch die laufende Betreuung, damit Ihre Webseite stets aktuell bleibt und einwandfrei funktioniert.',
        icon: 'tabler:number-3',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />
  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Erfolge und Werte"
    subtitle="Mit Fachwissen, Leidenschaft und persönlichem Engagement setzt Dani individuelle Webprojekte für kleine Unternehmen und Neugründungen erfolgreich um."
    isReversed={true}
    callToAction={{
      text: 'Erfahren Sie mehr',
      href: '/about',
    }}
    items={[
      {
        title: 'Praxisnahes Fachwissen',
        description:
          'Durch das Studium der Wirtschaftsinformatik und zahlreiche Praxisprojekte hat Dani fundierte Kenntnisse in Webentwicklung und EDV gesammelt.',
        icon: 'tabler:school',
      },
      {
        title: 'Kundenzufriedenheit im Fokus',
        description:
          'Jedes Projekt wird individuell abgestimmt, um die Bedürfnisse und Ziele der Kunden optimal zu erfüllen – für eine starke Online-Präsenz.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Zuverlässigkeit und Betreuung',
        description:
          'Dani bietet nicht nur die Entwicklung und Optimierung von Webseiten, sondern auch eine laufende Betreuung für langfristigen Erfolg.',
        icon: 'tabler:clock',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Jetzt Kontakt aufnehmen',
        href: '/kontakt',
        target: '_self',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title"> Fragen kostet nichts! </Fragment>

    <Fragment slot="subtitle">
      Sie suchen eine neue Webseite, Unterstützung beim Relaunch oder bei der laufenden Betreuung? Ich helfe Ihnen gerne
      weiter!
    </Fragment>
  </CallToAction>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Webseiten in Betreuung', amount: '6' },
      { title: 'Zufriedene Kunden', amount: '5' },
      { title: 'Abgeschlossene Projekte', amount: '6' },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->
</Layout>
